body {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-size: 1em;
}

nav {
	width: 100%;
	height: 56px;
	background-color: aliceblue;
	display: flex;
	justify-content: space-between;
	box-shadow: 2px 2px 7px 2px darkgray;
	position: fixed;
	top: 0px;
	z-index: 1111111;
}
.menu-button {
	height: 56px;
	width: 3em;
	margin: 0px 1.5em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	cursor: pointer;
}

.menu-bars {
	height: 0.125em;
	width: 1.125em;
	background: black;
	margin: 0 1em;
	border-radius: 1px;
	transition: all 0.5s ease-in-out;
}

.menu-bars::before,
.menu-bars::after {
	content: "";
	height: 0.125em;
	width: 1.125em;
	background: black;
	position: absolute;
	border-radius: 1px;
	transition: all 0.5s ease-in-out;
}

.menu-bars::before {
	transform: translateY(-0.25em);
}

.menu-bars::after {
	transform: translateY(0.25em);
}

nav img {
	height: 26px;

	padding: 15px;
	margin: 0px 0em;
}
#body-container {
	position: relative;
	top: 56px;
}

#hero-section {
	padding: 0px;
	margin: 0px;
}

#hero-section h1 {
	padding: 0px;
	margin: 20px 0.7px 5px 0.7px;
	font-size: 28px;
	font-family: "Courier New", Courier, monospace;
	text-align: center;
}

#hero-section h2 {
	padding: 0px 0px;
	margin: 0px 0.7px;
	font-size: 24px;
	font-family: "Courier New", Courier, monospace;
	text-align: center;
	text-decoration: underline dashed black 3px;
	margin-bottom: 30px;
}

.search-bar {
	background-color: rgb(246, 229, 206);
	display: flex;
	width: min-content;
	margin: 0 auto;
	border-radius: 10px;
	box-shadow: 0px 0px 9px 0px rgb(219, 89, 14);
}



#search-input {
	display: block;
	height: 32px;
	width: 70vw;
	border: none;
	background-color: rgb(246, 229, 206);
	border-radius: 10px;
	margin-left: 10px;
}

#search-input::placeholder {
	font-size: 13px;
}
	
.search-bar img {
	display: block;
	margin-right: 10px;
	cursor: pointer;
	height: 34px;
	width: 34px;
}

.blogs{
  margin: 30px 1vw;
  width: 98vw; 
}
