body {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-size: 1em;
}

nav {
	width: 100%;
	height: 56px;
	background-color: aliceblue;
	display: flex;
	justify-content: space-between;
	box-shadow: 2px 2px 7px 2px darkgray;
	position: fixed;
	top: 0px;
	z-index: 1111111;
}
.menu-button {
	height: 56px;
	width: 3em;
	margin: 0px 1.5em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	cursor: pointer;
}

.menu-bars {
	height: 0.125em;
	width: 1.125em;
	background: black;
	margin: 0 1em;
	border-radius: 1px;
	transition: all 0.5s ease-in-out;
}

.menu-bars::before,
.menu-bars::after {
	content: "";
	height: 0.125em;
	width: 1.125em;
	background: black;
	position: absolute;
	border-radius: 1px;
	transition: all 0.5s ease-in-out;
}

.menu-bars::before {
	transform: translateY(-0.25em);
}

.menu-bars::after {
	transform: translateY(0.25em);
}

/* animating menu bars */
/*open*/
.menu-button.open .menu-bars {
	transition: all 0.3s ease-out;
	transform: rotate(-45deg);
}
.menu-button.open .menu-bars::before {
	transform: translateY(0px) rotate(90deg);
	transition: all 0.5s ease-out;
}

.menu-button.open .menu-bars::after {
	transform:translateY(0px) rotate(90deg) ;
	
	transition: all 0.5s ease-out;
}
/*close*/

.menu-button.close .menu-bars {
	height: 0.125em;
	transition: all 0.3s ease-out;
}
.menu-button.close .menu-bars::before {
	transform: rotate(0deg) translateY(0.25em);
	transition: all 0.3s ease-out;
}

.menu-button.close .menu-bars::after {
	transform: rotate(0deg) translateY(-0.25em);
	transition: all 0.3s ease-out;
}

/*animation ends*/
/*Menu list*/
.menu-list {
	position: fixed;
	z-index: 1111111;
	top: 56px;
	width: 98vw;
	height: 0vh;
	margin: 0px 2px;
	background-color: aliceblue;
	padding: 0px;
	overflow: hidden;
	transition: all .6s ease-in;
}

#menu-ul {
	height: 78vh;
	padding: 0px;
	margin: 10px 0px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
}

.menu-li {
	list-style: none;
	padding: 13px 0px;
	margin: 0px;
	
}


.menu-li a:hover {
	background-color: rgb(175, 206, 233);
	color: black;
}

.menu-li a {
	text-decoration: none;
	font-size: 16px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	color: black;
	font-weight: 350;
	width:98vw;
	padding: 10px 0px;
	display: block;

}
/*Menu list ends*/

nav img {
	height: 26px;
	padding: 15px;
	margin: 0px 0em;
}
#body-container {
	position: relative;
	top: 56px;
}

#hero-section {
	padding: 0px;
	margin: 0px;
}

#hero-section h1 {
	padding: 0px;
	margin: 20px 0.7px 30px 0.7px;
	font-size: 28px;
	font-family: "Courier New", Courier, monospace;
	text-align: center;
}

#hero-section h2 {
	padding: 0px 0px;
	margin: 0px 0.7px;
	font-size: 24px;
	font-family: "Courier New", Courier, monospace;
	text-align: center;
	text-decoration: underline dashed black 3px;
	margin-bottom: 30px;
}

.search-bar {
	background-color: bisque;
	display: flex;
	width: min-content;
	margin: 0 auto;
	border-radius: 10px;
	box-shadow: 0px 0px 9px 0px rgb(219, 89, 14);
}

#search-input {
	display: block;
	height: 32px;
	width: 70vw;
	border: none;
	background-color: bisque;
	border-radius: 10px;
	margin-left: 10px;
}

#search-input::placeholder {
	font-size: 13px;
}

.search-bar img {
	display: block;
	margin-right: 10px;
	cursor: pointer;
	height: 34px;
	width: 34px;
}

.blogs {
	margin: 30px 1vw;
	width: 98vw;
	text-align: center;
}

.section-heading{
	font-size: 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0px 0px 20px 0px;
    padding: 10px 0px 0px 0px;
}

.blog-post{
	margin:15px 0px;
	padding: 0px;
	border-radius: 15px;
	background-color: bisque;
	display: flex;
}



.blog-post img{
	width:100px;
	height:100px;
	margin: 5px;
	padding: 0px;
	border-radius:12px;
}

.blog-post a{
	text-decoration: none;
	padding: 0px;
	margin: 0px;
	
	
}

.blog-post h3{
	padding: 0px;
	margin: 0px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);  	
	font-size: 16px;
	font-weight: normal;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: black;
}

.see-more-button{
	border: 2px solid rgb(114, 81, 4);
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 0px;
    font-size: 0.87em;
    font-family: Roboto, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    margin: 0 auto;
    text-decoration: none;
    background-color: rgb(168, 212, 143);
    color: rgb(255, 255, 255);
    display: inline-block
}

.video-card{
  margin:15px 1vw;
  width:98vw;
}

.ytplayer{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
	height:0;
	width:20px;
}
.ytplayer iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
